{% extends 'base.html' %}
{% block content %}

<div class="container_content">
    <form method="post">
        {% csrf_token %}
        <table width ="500" height="300">
            <tbody>
                <tr align="center">
                    <td>글 번호</td>
                    <td>자동입력</td>
                </tr>

                <tr align="center">
                    <td>종류</td>
                    <td><select name="category">
                        <option value="free">자유</option>
                        <option value="question">문의</option>
                    </select></td>
                </tr>

                <tr align="center">
                    <td>제목</td>
                    <td><input type="text" name="title"></td>
                </tr>

                <tr align="center">
                    <td>내용</td>
                    <td width ="400" height="100"><textarea name="content" style="width =400px; height=100px"></textarea></td>
                </tr>

                <tr align="center">
                    <td>글쓴이</td>
                    <td>본인 닉네임</td>
                </tr>

                <tr align="center">
                    <td>날짜</td>
                    <td>자동 입력</td>
                </tr>
            </tbody>
        </table>

        <div>
            <button type="submit">글 저장</button>
            <button type="button" onclick="location.href={% url 'board_index' %}">글 목록</button>
        </div>

    </form>
</div>
{% endblock %}
